.header2-style {color: darkblue;}

.aqua_background {background-color:aqua;}

#main_heading {color: blueviolet;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;}

.popout_text {color:blue;
font-size: 20px;}

.small_size_increase {font-size: 16px;}

.small_margin_increase {margin: 30px;}

.paragraph-style, .popout_text {padding-left: 20px;
font-family:'Lucida Sans Unicode';}

.orange_border {border-color:darkorange;
border-radius: 10px;
border-width: 5px;
border-style:solid;}

#purple_background {background-color:blueviolet;}

#ps4, #tamale, #books, #frost, #sekiro, #elden {width: 200px;}

.nav-links-flex {display: flex;
    flex-direction: row;
    justify-content: space-evenly;}

#Nav-main-title { display: flex;
justify-content: center;}

.gallery-flex-container {display: flex;
flex-direction: row;}

#gallery, #Photos-of-Favorite-Video-Games {padding-left: 20px;}

.div-hobby-padding {width: 30%;}

.game-div-style {padding-left: 50px;}

@media (max-width: 600px) {#main_heading {font-size: 25px;}

.popout_text {font-size: 17px;}

.small_size_increase {font-size: 14px;}

.small_margin_increase {margin: 20px;}

.paragraph-style {font-size: 14px;}

.header2-style {font-size: 20px;}

.orange_border {width: 450px;}

.th-style {font-size: 13px;}

.li-style {font-size: 14px;}

.nav-links-flex {flex-direction: column;
justify-content: space-evenly;
padding-left: 20px;}

#Nav-main-title {display: flex;
justify-content: center;
flex-direction: column;}

#tamale, #ps4, #books, #frost, #sekiro, #elden {width: 100px;}}

@media (min-width: 601px) and (max-width: 700px) {#main_heading {font-size: 25px;}

.popout_text {font-size: 19px;}

.small_size_increase {font-size: 16px;}

.small_margin_increase {margin: 20px;}

.paragraph-style {font-size: 16px;}

.header2-style {font-size: 22px;}

.orange_border {width: 500px;}

.th-style {font-size: 15px;}

.li-style {font-size: 16px;}

.nav-links-flex {flex-direction: column;
justify-content: space-evenly;
padding-left: 20px;}

#Nav-main-title {display: flex;
justify-content: center;
flex-direction: column;}

#tamale, #ps4, #books, #frost, #sekiro, #elden {width: 125px;}}

@media (min-width: 701px) and (max-width: 800px) {#tamale, #ps4, #books, #frost, #sekiro, #elden {width: 150px;}}