.header2-style {color:blueviolet;}

.aqua_background {background-color:aqua;}

#main_heading {color: green;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;}

.popout_text {color:blue;
font-size: 20px;}

.small_size_increase {font-size: 16px;}

.small_margin_increase {margin: 30px;}

.paragraph-style {padding-left: 20px;
font-family:'Lucida Sans Unicode';}

.orange_border {border-color:darkorange;
border-radius: 10px;
border-width: 5px;
border-style:solid;}

#purple_background {background-color:blueviolet;}

#ps4, #tamale, #books, #frost, #sekiro, #elden {width: 200px;}